.videoPopUp {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  video {
    width: 50dvh;
    height: auto;
    border-radius: 10px;
    object-fit: contain;
  }
}

@media (max-width: 576px) {
  .videoPopUp {
    video {
      width: 40dvh;
    }
  }
}
