.welcomePage {
  position: fixed;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  touch-action: none;
  overscroll-behavior: none;
}

.gifContainer {
  position: relative;
  width: 641px;
  height: 479px;
  z-index: 100;
}

.tomatContainer {
  position: absolute;
  top: -27px;
  left: -27px;
  width: 170px;
  height: 180px;
  transform: rotate(-28deg) !important;
}

.carrotContainer {
  position: absolute;
  bottom: -80px;
  left: 52%;
  width: 183px;
  height: 248px;
  transform: translateX(-50%) rotate(9.3deg) !important;
}

.challahContainer {
  position: absolute;
  top: 45%;
  right: -63px;
  width: 254px;
  height: 188px;
  transform: rotate(49.4deg) !important;
}

.bookNowContainer {
  position: absolute;
  top: 8%;
  left: 25%;
  width: 170px;
  height: 80px;
}

.menuContainer {
  position: absolute;
  top: 8%;
  right: 25%;
  width: 170px;
  height: 80px;
}

.instagramContainer {
  position: absolute;
  top: 11%;
  right: 12%;
  width: 39px;
  height: 39px;
}

.adressContainer {
  position: absolute;
  bottom: -5%;
  right: 7%;
  width: 459px;
  height: 210px;
  z-index: -1;
}

.flavorContainer {
  position: absolute;
  top: 50%;
  left: 7%;
  width: 350px;
  height: 160px;
  transform: translateY(-50%) !important;
}

.phoneContainer {
  position: absolute;
  bottom: 4%;
  left: 13.5%;
  width: 170px;
  height: 100px;
  z-index: 10;
}

@media (max-width: 1439px) {
  //1201

  .gifContainer {
    width: 621px;
    height: 459px;
  }

  .tomatContainer {
    top: -27px;
    left: -27px;
    width: 150px;
    height: 160px;
    transform: rotate(-28deg) !important;
  }

  .carrotContainer {
    bottom: -80px;
    left: 52%;
    width: 163px;
    height: 248px;
    transform: translateX(-50%) rotate(9.3deg) !important;
  }

  .challahContainer {
    top: 45%;
    right: -63px;
    width: 234px;
    height: 188px;
    transform: rotate(49.4deg) !important;
  }

  .bookNowContainer {
    top: 5%;
    left: 25%;
    width: 130px;
    height: 80px;
  }

  .menuContainer {
    top: 5%;
    right: 25%;
    width: 130px;
    height: 80px;
  }

  .instagramContainer {
    top: 8%;
    right: 12%;
    width: 35px;
    height: 35px;
  }

  .adressContainer {
    bottom: -7%;
    right: 6%;
    width: 340px;
    height: 210px;
  }

  .flavorContainer {
    top: 50%;
    left: 5%;
    width: 250px;
    height: 160px;
    transform: translateY(-50%) !important;
  }

  .phoneContainer {
    bottom: 4%;
    left: 12%;
    width: 150px;
    height: 100px;
  }
}

@media (max-width: 1200px) {
  //993
  .gifContainer {
    width: 551px;
    height: 439px;
  }

  .adressContainer {
    bottom: -7%;
    right: 6%;
    width: 300px;
    height: 210px;
  }
}

@media (max-width: 992px) {
  //769

  .gifContainer {
    width: 451px;
    height: 339px;
  }

  .adressContainer {
    bottom: -7%;
    right: 3%;
    width: 270px;
    height: 210px;
  }

  .phoneContainer {
    bottom: 4%;
    left: 12%;
    width: 130px;
    height: 100px;
  }

  .flavorContainer {
    top: 50%;
    left: 3%;
    width: 190px;
    height: 160px;
    transform: translateY(-50%) !important;
  }

  .challahContainer {
    top: 45%;
    right: -63px;
    width: 214px;
    height: 188px;
    transform: rotate(49.4deg) !important;
  }
}

@media (max-width: 768px) {
  //577

  .tomatContainer {
    top: -27px;
    left: -27px;
    width: 110px;
    height: 120px;
    transform: rotate(-28deg) !important;
  }

  .flavorContainer {
    top: 12%;
    left: 50%;
    width: 230px;
    height: 160px;
    transform: translateX(-50%) !important;
  }

  .challahContainer {
    top: 45%;
    right: -63px;
    width: 190px;
    height: 188px;
    transform: rotate(49.4deg) !important;
  }

  .carrotContainer {
    top: 52%;
    left: -13%;
    width: 163px;
    height: 248px;
    transform: translateY(-50%) rotate(9.3deg) !important;
  }
}

@media (max-width: 576px) {
  .gifContainer {
    width: 351px;
    height: 239px;
  }

  .tomatContainer {
    top: 0;
    left: -20px;
    width: 80px;
    height: 90px;
    transform: rotate(-28deg) !important;
  }

  .bookNowContainer {
    top: 5%;
    left: 15%;
    width: 110px;
    height: 80px;
  }

  .menuContainer {
    top: 5%;
    right: 18%;
    width: 110px;
    height: 80px;
  }

  .instagramContainer {
    top: 8%;
    right: 8%;
    width: 30px;
    height: 30px;
  }

  .phoneContainer {
    bottom: 18%;
    left: 50%;
    width: 140px;
    height: 90px;
    transform: translateX(-50%) !important;
  }

  .adressContainer {
    bottom: -3%;
    right: 50%;
    width: 240px;
    height: 190px;
    transform: translateX(50%) !important;
  }

  .challahContainer {
    top: 45%;
    right: -63px;
    width: 160px;
    height: 158px;
    transform: rotate(49.4deg) !important;
  }

  .carrotContainer {
    top: 52%;
    left: -13%;
    width: 123px;
    height: 208px;
    transform: translateY(-50%) rotate(9.3deg) !important;
  }
}
